{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/About_US.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="p-4">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Department</th>
                            <th scope="col">CSE</th>
                            <th scope="col">ECE</th>
                            <th scope="col">EEE</th>
                            <th scope="col">IT</th>
                            <th scope="col">CIVIL</th>
                            <th scope="col">MECH</th>
                            <th scope="col">CSM</th>
                            <th scope="col">CIC</th>
                            <th scope="col">CSO</th>
                            <th scope="col">AI&DS</th>
                            <th scope="col">AI&ML</th>
                            <th scope="col">M.Tech</th>
                            <th scope="col">General</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Volumes</th>
                            <td>13440</td>
                            <td>11175</td>
                            <td>9310</td>
                            <td>8890</td>
                            <td>7920</td>
                            <td>9010</td>
                            <td>2840</td>
                            <td>1260</td>
                            <td>1860</td>
                            <td>2250</td>
                            <td>2475</td>
                            <td>11650</td>
                            <td>18290</td>
                            <td>100370</td>
                        </tr>
                        <tr>
                            <th scope="row">Titles</th>
                            <td>1700</td>
                            <td>1590</td>
                            <td>1245</td>
                            <td>1435</td>
                            <td>940</td>
                            <td>940</td>
                            <td>525</td>
                            <td>360</td>
                            <td>470</td>
                            <td>485</td>
                            <td>520</td>
                            <td>2520</td>
                            <td>14410</td>
                            <td>27140</td>
                        </tr>
                        <tr>
                            <th scope="row">Journals</th>
                            <td>24</td>
                            <td>18</td>
                            <td>18</td>
                            <td>18</td>
                            <td>12</td>
                            <td>18</td>
                            <td>18</td>
                            <td>12</td>
                            <td>6</td>
                            <td>18</td>
                            <td>18</td>
                            <td>12</td>
                            <td>12</td>
                            <td>204</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div class="p-4">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>N.V.SAI KRISHNA</td>
                            <td>M.A., M.L.I.Sc., M.Phil., PGDCA</td>
                            <td>LIBRARIAN</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Dr.CH.MADHAVI</td>
                            <td>M.L.I.Sc., Ph.D</td>
                            <td>LIBRARIAN-CIRCULATION SECTION</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>VELAGA MANAVENDRA</td>
                            <td>M.A., M.L.I.Sc.</td>
                            <td>LIBRARIAN-REFERENCE SECTION</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>P.SRI KALYAN CHAKRAVARTHI</td>
                            <td>M.A., MHRM., HDSE</td>
                            <td>DIGITAL LIBRARY ASST.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>E.USHABALA</td>
                            <td>B.A.,</td>
                            <td>LIBRARY ASST.</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>N.HOSANNA</td>
                            <td>B.Sc., M.L.I.Sc.</td>
                            <td>LIBRARY ASST.</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>E.SUMANTH</td>
                            <td>B.Com., M.L.I.Sc</td>
                            <td>LIBRARY ASST.</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>P.BAJIMUN</td>
                            <td>INTERMEDIATE</td>
                            <td>LIBRARY ASST.</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>S.SIJINI</td>
                            <td>S.S.C</td>
                            <td>ATTENDER</td>
                        </tr>
                    </tbody>
                </table>
                <p>* GENERAL BOOKS INCLUDES SCIENCE & HUMANITIES, FICTION, NON-FICTION, HANDBOOKS, RARE BOOKS, APTITUDE, REASONING, AND PSYCHOLOGY BOOKS etc.</p>
                <h3>Digital Library</h3>
                <ul>
                    <li>Digital Library has 32 Computer Systems with High-Speed Internet and backup</li>
                    <li>NPTEL E-Lectures and Videos</li>
                    <li>DELNET</li>
                    <li>IEEE Society Periodicals, ASME and ASCE</li>
                    <li>National Digital Library of India (NDLI)</li>
                    <li>Open Access Journals/Dissertations/Archives/Database contents available at library portal</li>
                </ul>
                <br>
                <h3>Library Services</h3>
                <ul>
                    <li>CIRCULATION SERVICE : Daily about 250 books issue/returns</li>
                    <li>REFERENCE SERVICE : 26550 Reference Books available</li>
                    <li>REPROGRAPHY / SCANNING : Available</li>
                    <li>E-LEARNING/ ONLINE ACCESS : IEEE, ASME, ASCE, DELNET, NPTEL, IETE, IAS etc.</li>
                    <li>BOOK BANK/TEXT BOOK SERVICE : SC/ST Book Bank = 6550 Books available</li>
                    <li>RARE BOOKS / HAND BOOKS / YEAR BOOKS = about 2000 books available</li>
                    <li>COMPETITIVE EXAMINATION Books : GATE, IES, CAT, GRE, etc. available</li>
                    <li>AUTOMATION & NETWORKING : EZ LIBRARY SOFTWARE / INTRANET</li>
                    <li>LIBRARY ORIENTATION/AWARENESS : In Library Hours</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>
