{% extends 'base.html' %}
{% load static %}
{% load fine_filters %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<script>
    function handleRowClick(event, bookId) {
        // Check if the click was outside the button
        if (!event.target.classList.contains('mark-submitted-button')) {
            window.location.href = '/book_details/' + bookId + '/'; ;
        }
    }
</script>
<!-- Page after login for admin or superuser -->
<!-- Student Profile -->
<div class="student-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                        {% if user.gender == '👨(M)' %}
                        <img class="profile_img" src="{% static 'img/maleprofile.png' %}" alt="">
                        {% else %}
                        <img class="profile_img" src="{% static 'img/femaleprofile.png' %}" alt="">
                        {% endif %}
                        
                        <h3 id="stuName">{{ user.name }}</h3>
                    </div>
                    <div class="card-body text-left">
                        <h3><strong>Roll No:</strong> <span>{{ user.rollnumber }}</span></h3>
                        <h3><strong>Gender:</strong> <span>{{ user.gender }}</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12 mt-2 mt-lg-0">
                <div class="card shadow-sm general-info">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0">General Information</h3>
                    </div>
                    <div class="card-body pt-0">
                        <table class="table table-bordered">
                            <tr>
                                <th>Student     :</th>
                                <td><label>
                                    <input type="text" id="studentId" value="{{ user.id }}" {% if user.id %} disabled {% endif %}>
                                </label></td>
                            </tr>
                            <tr>
                                <th>Student Branch :</th>
                                <td><label>
                                    <input type="text" id="newBranch" value="{{ user.branch }}" {% if user.branch %} disabled {% endif %}>
                                </label></td>
                            </tr>
                            <tr>
                                <th>Student Section :</th>
                                <td><label>
                                    <input type="text" id="nameDisplay" value="{{ user.section }}" {% if user.section %} disabled {% endif %}>
                                </label></td>
                            </tr>
                            <tr>
                                <th>Academic Year   :</th>
                                <td><label>
                                    <input type="text" value="{{ user.academic_year }}" disabled >
                                </label></td>
                            </tr>
                            <!-- <tr>
                                <th>Remarks</th>
                                <td>:</td>
                                <td><label>
                                    <textarea name="opinion" placeholder="Mention your Remarks"></textarea>
                                </label></td>
                            </tr>
                            <tr>
                                <th>Issues</th>
                                <td>:</td>
                                <td><label>
                                    <textarea name="opinion" placeholder="Mention your Issues"></textarea>
                                </label></td>
                            </tr> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Book Details -->
<div class="card1 shadow-lg mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h5>STUDENT BOOK DETAILS</h5>
        {% if request.user.is_superuser %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#lendBookModal">+ Lend a Book</button>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table1">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book ID</th>
                    <th>Issue Date</th>
                    <th>Expected Return Date</th>
                    <th>Actual Return Date</th>
                    <th>Fine Amount</th>
                </tr>
            </thead>
            {% if not book_stu %}
            <tr>
                <td colspan="6" class="text-center">
                    <h6>No Records</h6>
                </td>
            </tr>
            {% endif %}
            <tbody>
                {% for book in book_stu %}
                <tr class="book-row" {% if request.user.is_superuser %} onclick="handleRowClick(event, '{{ book.pk }}')" {% endif %}>
                    <td>{{ book.book.TitleName }}</td>
                    <td>{{ book.book.AccessionNumber }}</td>
                    <td>{{ book.lending_time|date:"d-m-Y" }}</td>
                    <td>{{ book.expected_return_date|date:"d-m-Y" }}</td>
                    <td>
                        {% if book.return_time %}
                            {{ book.return_time|date:"d-m-Y" }}
                        {% else %}
                            Not Returned
                        {% endif %}
                        {% if not book.return_time %} 
                        <button class="btn-secondary mark-submitted-button" data-toggle="modal" data-target="#submitBookModal" data-book-id="{{ book.id }}" data-lending-time="{{ book.lending_time|date:'Y-m-d' }}">Mark Submitted</button>
                        {% endif %}
                    </td>
                    <td>{{ book|calculate_fine }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>

<div class="modal fade" id="lendBookModal" tabindex="-1" role="dialog" aria-labelledby="lendBookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lendBookModalLabel">Lend a Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Lend Book</button>
          </form>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="submitBookModal" tabindex="-1" role="dialog" aria-labelledby="submitBookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitBookModalLabel">Submitted on</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'update_return_date' %}">
                {% csrf_token %}

                <input type="hidden" id="bookId" name="book_id">
                <div class="form-group">
                    <label for="returnDate">Submitted on</label>
                    <input type="date" class="form-control" id="returnDate" name="return_date">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function handleRowClick(event, bookId) {
            // Check if the click was outside the button
            if (!event.target.classList.contains('mark-submitted-button')) {
                window.location.href = '{% url "book_details" '{ bookId }' %}';
            }
        }
        
        $('#submitBookModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var bookId = button.data('book-id');
            var modal = $(this);
            modal.find('#bookId').val(bookId);
            var lendingTime = button.data('lending-time')
            var returnDateInput = modal.find('.modal-body #return_date');
            returnDateInput.attr('min', lendingTime);
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>


{% endblock %}
